server {
    listen 443 ssl;
    server_name modality.bozpsychometrics.com;

    ssl_certificate /etc/letsencrypt/live/modality.bozpsychometrics.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/modality.bozpsychometrics.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    client_max_body_size 100M;

    location /chatbot/api/ {
        rewrite ^/chatbot/api/(.*)$ /$1 break;
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;
    }

    location /chatbot/keyboard {
        alias /var/www/chatbot_modality/frontend_keyboard/build/;
        index index.html;
        try_files $uri $uri/ /chatbot/keyboard/index.html;
    }

    location /chatbot/voice {
        alias /var/www/chatbot_modality/frontend_voice/build/;
        index index.html;
        try_files $uri $uri/ /chatbot/voice/index.html;
    }

    location /chatbot/selection {
        alias /var/www/chatbot_modality/frontend_selection/build/;
        index index.html;
        try_files $uri $uri/ /chatbot/selection/index.html;
    }

    location / {
        return 404;
    }
}

# HTTP -> HTTPS 重定向
server {
    listen 80;
    server_name modality.bozpsychometrics.com;
    return 301 https://$host$request_uri;
}